#adminaddairlineform{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1px;
    margin: 0 auto;
    width: 20%;
    margin-left: 560px;
}





#airlinefield1{
    color: aliceblue;
    padding: 1px; 
}



#new1{
    color: aliceblue;
}


#confirm1{
    color: aliceblue;
    padding-bottom: 20px;
}


#namefield1{
    color: aliceblue;
    margin-top: 5px;
    padding-bottom: 30px;
}

#country1{
    color: aliceblue;
    padding-bottom: 30px;
}




#createairlinebutton{
    background-color: #428fc2;
    color: rgb(255, 255, 255);
    height: 35px;
    align-items: center;
    border-radius: 10px;
    margin-top: 5px;
    font-size: medium;
    border-width: 0.1px;
}




#addairlinesuccess{
    color: white;
    font-size: medium;
}



#erroraddairline{
    font-size: medium;
    color: aliceblue;
}


#inputfieldairline{
    height: 25px;
    border-radius: 7px;
    border: none;
    margin-top: 5px;
}

  