<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'fma_app_adminView:admin_add_airline' %}">Add Airline</a>
    {% if airlines %}
    {% if error %}
    <ul>
            <li>{{ error }}</li>
    </ul>
{% endif %}
    <ul>
        {% for airline in airlines %}
        <h3>Airline &nbsp;&nbsp;&nbsp;&nbsp;Country </h3>
            <li>{{ airline.name }}&nbsp;&nbsp;&nbsp;&nbsp;{{ airline.country_id }}</li>
            <a href="{% url 'fma_app_adminView:admin_remove_airline' airline.id %}">Remove Airline</a>
            <br>
        {% endfor %}
    </ul>
    {% else %}
    <h2>No Airlines</h2>
    {% endif %}


</body>
</html>