<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	{% if my_flights %}
	<ul>
		{% for flight in my_flights %}
        <p> <a href="{% url 'fma_app_airlineView:update_flight' flight.id %}">
			<li>{{ flight.airline_company_id }}</li>
            <li>{{ flight.origin_country_id }}</li>
            <li>{{ flight.destination_country_id }}</li>
            <li>{{ flight.departure_time }}</li>
            <li>{{ flight.landing_time }}</li>
            <li>{{ flight.remaining_tickets }}</li>
        </a>
        <br>
        <a href="{% url 'fma_app_airlineView:remove_flight' flight.id %}">Remove Flight</a>
        <br>
        <br>
    </p>
		{% endfor %}
	</ul>
    {% else %}
    <h2>There Are No Flights</h2>
{% endif %}
</body>
</html>


