<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if my_tickets %}
    <ul>

        {% for ticket in my_tickets %}
        
            <li>{{ ticket.flight_id.airline_company_id }}</li>
            <li>{{ ticket.flight_id.origin_country_id }}</li>
            <li>{{ ticket.flight_id.destination_country_id}}</li>
            <li>{{ ticket.flight_id.departure_time }}</li>
            <li>{{ ticket.flight_id.landing_time }}</li>
            <a href="{% url 'fma_app_customerView:remove_ticket' ticket.id %}">Remove Flight</a>
            <br>
            <br>
        {% endfor %}
    </ul>
    {% else %}
    <h2>You Have No Tickets</h2>
    {% endif %} 
</body>
</html>